
  .button {
    background: linear-gradient(to bottom, #544dbd 5%, #544dbd 100%);
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 16px;
    text-decoration: none;
  }
  .button:hover {
    background: linear-gradient(to bottom, #6a6cca 5%, #6a6cca 100%);
  }
  .button:active {
    position: relative;
    top: 1px;
  }
  